<%- include('../partials/header') %>

<section class="hero">
    <div class="hero-content">
        <h2>Bem-vindo à Plataforma de Eventos</h2>
        <p>Encontre e participe dos melhores eventos da sua área.</p>
        <a href="/events" class="btn btn-primary">Ver Eventos</a>
    </div>
</section>


<%- include('../partials/footer') %>

